
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');


* {
    font-family: 'Geologica', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content:flex-start;
    font-family: 'Rock 3D', cursive;  
    color: rgb(179, 109, 52);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #fdfdfd;
    
   }

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 75px;
    }
   
nav a {
    text-decoration: none;
    color:rgb(179, 109, 52);
}
.menu li a:hover {
color:rgb(201, 173, 102);
transition: all .3s;
}

.submenu {
  position:absolute;
  display: none;
  background-color:beige;
  padding: 0px;
}

.submenu li a {
  display: block;
  }

.menu li:hover .submenu {
  display: block;
}


header img { width: 150px;
    height: 150px;
}

.imgmain {
justify-content: center;
}

.search-box {
    float:left;  
    padding-left: 35px;
}
		
.search-box input[type=text] {
    height: 26px;
    font-size: 17px;
    width: 200px;
    margin-top: 14px;
}

.segundalinea {
  display:flex;
  float:left;
  align-items: baseline;
  padding-left: 30px;
  }



.promo {
  font-size: 16px;
  background-color:beige;
  padding: 5px;
  color:rgb(1, 15, 1);
  animation-name: flash;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}




.destacados img { width: 150px;
    height: 150px;
}

.Ofertas img { width: 150px;
    height: 150px;
}

i { font-size: 25px;
    font-weight: bold;
}


.box {
    display: flex;
    justify-content:flex-start;
    width: 500px;
    height: 560px;
    padding-left: 20px;
    padding-top: 10px;
}

.boxofertas {
  background-color:beige;
  padding-bottom: 2px;
}

.boxdestacados {
  background-color:beige;
  padding-bottom: 2px;
}


.destacados {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.Ofertas {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 75px;
}



h3 {
    font-size: 25px;
    background-color:rgb(216, 207, 168);
    display: flex;
    justify-content:center;
    color:white
  }


footer{
    font-size: 10px;
    background-color: #fff;
    color: var(--second-c);
  }
  footer ul{
    padding:0;
  }
  footer li{
    list-style: none;
  }
  .wrap-footer{
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
  .logo-element_footer{
    display: flex;
    margin: 2rem 0;
  }
  .logo-element_footer img{
    max-height: 75px;
  }
  .element-footer h5{
    margin: 1rem 0;
  }
  .text-element-footer li{
    line-height: 2;
  }
  .link-elements-footer li a{
    color:rgb(189, 170, 86);
  }
  .rrss-element-footer ul{
    display: flex;
    flex-flow: wrap;
  }
  .rrss-element-footer img{
    width: 35px;
  }
  .rrss-element-footer li{
    margin-right: 1rem;
  }
  .footer-creds{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: #576171;
    max-width: 1200px;
    margin: 0 auto;
  }
  .legal-creds ul{
    display: flex;
    flex-flow: row;
  }
  .legal-creds ul li{
    padding-right: 1rem;
  }
  .legal-creds ul a{
    color: #576171;
  } 


.enlaceOcultable {
    display: none;
}

